.container {
	position: relative;
	border-radius: var(--content-border-radius);
	background-color: var(--main-block-background-color);
	padding: 12px 0;
}

.header {
	width: 100%;
	padding: 12px 12px 24px;
	font-size: 14px;
	line-height: 16px;
	border-bottom: 1px solid var(--line-background-color);
}

.main {
	padding: 25px 20px;
	border-bottom: 1px solid var(--line-background-color);
}

.dragAndDropUploadZone {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 416px;
	min-height: 300px;
	border: 3px dashed var(--main-color-blue);
	border-radius: 12px;
	padding: 25px 50px;
	margin: 0 auto;

	&.dragover {
		background-color: var(--backgraund-color-hover-gray);
	}
}

.iconUploadWrapper {
	color: var(--main-color-blue);
	width: 81px;
	height: 81px;
}

.footer {
	text-align: center;
	padding: 24px 12px 12px;
}

.inputWrapper {
	display: flex;
	column-gap: 1em;
	flex-wrap: wrap;
	justify-content: center;
	padding: 24px 24px 0;
}

.text {
	text-align: center;
	padding: 5px 0;
}

.input {
	position: absolute;
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	z-index: -1;
}

.label {
	color: var(--text-color-link-blue);
	padding: 5px 2px;
	font-weight: 800;
	transition: opacity 0.3s;
	opacity: 1;

	&:hover {
		cursor: pointer;
		opacity: .9;
	}
}

.input:focus+label {
	outline: var(--main-color-blue) auto 5px;
}

.input:active+label {
	outline: none
}

.closeWrapper {
	position: absolute;
	background-color: inherit;
	min-width: auto;
	min-height: auto;
	right: 4px;
	top: 4px;
	padding: 12px;

	&:focus {
		outline: 2px solid var(--main-color-blue);
	}

	&:active {
		outline: none;
	}
}

.close {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	color: #fff;
	background-color: rgb(58, 58, 58);
	transition: opacity .3s ease-in-out;

	&:hover {
		opacity: 0.85;
	}
}

.error {
	color: var(--error-color-text);
	text-align: center;
	min-height: 54px;
	padding: 24px 24px 0;
}

.invisible {
	opacity: 0;
	pointer-events: none;
}