.container {
	position: relative;
	background-color: inherit;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.profileInfo {
	min-height: 260px;
	padding-top: 100px;
	overflow: hidden;
	z-index: 0;

	&>.preloader {
		display: flex;
		align-items: center;
		min-height: 160px;
		width: 100%;
		border-radius: var(--content-border-radius);
		box-shadow: var(--shadow-effect);
		background-color: var(--main-block-background-color);
	}
}

.myPosts {
	min-height: 203px;

	&>.preloader {
		height: 100%;
		background-color: var(--main-block-background-color);
		box-shadow: var(--shadow-effect);
		border-radius: var(--content-border-radius);
	}
}