.pagesWrapper {
	display: flex;
	text-align: center;
	justify-content: center;
	margin-bottom: 10px;
	min-height: 31px;
}

.pages {
	width: 36px;
	display: inline-block;
	border-radius: 2px;

	&:hover:not(.activePage) {
		text-decoration: underline;
		background-color: #edeef0;
	}
}

.activePage {
	color: #fff;
	background-color: var(--color-base-blue);
}

.chevronIcons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.invisability {
	visibility: hidden;
}