.container {
	display: flex;
	gap: 16px;
}

.pages {
	position: relative;
	border-radius: var(--content-border-radius);
	width: 550px;
	flex-shrink: 0;
	min-height: 414px;
	overflow: hidden;
	box-shadow: var(--shadow-effect);
	background-color: var(--color-neutral-100);
	margin-bottom: 20px;
}

.header {
	font-size: 21px;
	font-weight: 550;
	line-height: 26px;
	padding: 18px 20px 0;
}

.preloader {
	width: clamp(50px, 7.5dvw, 80px);
	margin: 0 auto;
}

.user {
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
	padding: 0 20px 20px;
	gap: 21px 15px;
}