.btnWrapper {
	width: 152.5px;
	padding: 0 13px 4px;
	margin-left: auto;

	&>button {
		&:disabled {
			opacity: 0.6;
		}
	}
}

.formItem {
	padding: 16px 12px 0 12px;
}

.newPostTextarea {
	width: 100%;
	padding: 20px 13px 4px 20px;
}