.btnWrapper {
	width: 152.5px;
	padding: 0 13px 4px;
	margin-left: auto;

	&>button {
		&:disabled {
			opacity: 0.6;
		}
	}
}

.formItem {
	padding: 16px 12px 0 12px;
}

.newPostTextarea {
	width: 100%;
	border: var(--border-text-area);
	border-radius: 10px;
	padding: 8px 8px;
	resize: none;
	&::-webkit-scrollbar {
		display: none;
	}
}