.Myposts {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.newPost {
	background-color: rgba(255, 255, 255);
	box-shadow: 0 0 5px rgb(0, 0, 0, 0.40);
	border-radius: var(--content-border-radius);
	padding: 8px;
}

.textareaWrapper {
	border-top: var(--border-text-area);
	padding: 20px 13px 0 20px;
	margin-bottom: 12px;

	& .textarea {
		height: auto;
		width: 100%;
		min-height: 48px;
		border: var(--border-text-area);
		border-radius: 10px;
		padding: 8px 8px;
		resize: none;

		&:focus {
			outline: none;
		}
	}
}

.placeholder {
	position: relative;
	z-index: 2;
	cursor: text;
	pointer-events: none;
}

.phInput {
	position: absolute;
	height: auto;
	top: -48px;
	width: 100%;
	min-height: 48px;
	border: var(--border-text-area);
	border-radius: 10px;
	padding: 8px 8px;
	resize: none;

}

.phContent {
	padding: 0;
	color: var(--text-color-secondary-gray);
	line-height: 1.462;
}

.btnWrapper {
	padding: 0 13px 4px;

	& button {
		display: block;
		margin-left: auto;
		min-height: 36px;
	}
}

.header {
	padding: 0 13px 12px 20px;
	font-size: 21px;
	font-weight: 600;
	line-height: 26px;
}

.posts {
	display: flex;
	flex-direction: column-reverse;
	background-color: rgba(255, 255, 255);
	box-shadow: 0 0 5px rgb(0, 0, 0, 0.40);
	border-radius: var(--content-border-radius);
	margin-bottom: 20px;
	padding: 20px 20px;
}

h3 {
	margin: 0;
}