.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.header {
	padding: 0 13px 12px 20px;
	font-size: 21px;
	font-weight: 600;
	line-height: 26px;

	&::after {
		display: block;
		content: " ";
		width: calc(100% + 33px);
		margin-left: -20px;
		height: 1px;
		border-top: var(--border-text-area);
		margin-top: 8px;
	}
}

.newPost {
	min-height: 180px;
	background-color: var(--color-neutral-100);
	box-shadow: var(--shadow-effect);
	border-radius: var(--content-border-radius);
	padding: 8px;
}

.posts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 169px;
	background-color: var(--color-neutral-100);
	box-shadow: var(--shadow-effect);
	border-radius: var(--content-border-radius);
	margin-bottom: 20px;
	padding: 20px 20px;

	&>.scrollTo {
		position: relative;
		top: 138px;
	}
}

.post {
	display: grid;
	min-height: 119px;
	width: 100%;
	grid-template-areas:
		"avatar name options"
		"message message message"
		"like like like";
	grid-template-columns: 52px auto 52px;
	grid-template-rows: 56px auto 32px;
	align-items: center;
	justify-items: start;
	gap: 8px;
	margin-bottom: 10px;
}

.noPosts {
	color: var(--color-neutral-700);
	text-align: center;

	& svg {
		width: 56px;
		height: 56px;
		margin: 0 auto;
		margin-bottom: 12px;
	}
}

h3 {
	margin: 0;
}