.Myposts {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.newPost {
	background-color: rgba(255, 255, 255);
	box-shadow: 0 0px 2px rgb(0, 0, 0, 0.40);
	border-radius: 20px;
	padding: 20px 0;
}

.textareaWrapper {
	border-top: 1px solid rgb(220, 225, 230);
	padding: 20px 20px 0 20px;
}

.textareaWrapper textarea {
	width: 100%;
	min-height: 48px;
	border: 1px solid rgb(220, 225, 230);
	border-radius: 10px;
	margin-bottom: 9px;
	padding: 8px 8px;
	resize: none;
}

.newPost textarea:focus {
	outline: none;
}

.newPost textarea:active {
	outline: none;
}

.btnWrapper {
padding: 0 20px;}

.newPost button {
	display: block;
	margin-left: auto;
	cursor: pointer;
	min-width: 118px;
	min-height: 36px;
	background-color: #447bba;
	border: none;
	color: #FFF;
	border-radius: 10px;
	font-size: 13px;
}

.header {
	padding: 0 20px;
	margin-bottom: 20px;
}

.posts {
	background-color: rgba(255, 255, 255);
	box-shadow: 0 0px 2px rgb(0, 0, 0, 0.40);
	border-radius: 20px;
	margin-bottom: 20px;
	padding: 20px 20px;
}

h3 {margin: 0;}
