.errorText {
	display: block;
	height: 1rem;
}

.error {
	grid-area: field;
	&>input, textarea {
		border-radius: 5px;
		border: 1px solid #ee294e !important;
		background-color: #fde9ed !important;
	}
}

.field {
	grid-area: field;
}

.errorText {
	grid-area: fieldError;
	height: 16px;
	display: block;
	position: relative;
	padding: 0 10px;
	color: #ee294e;
	font-size: 12px;
	line-height: 1rem;
	margin-bottom: 5px;
}

.select {
	border-radius: 8px;
}

.selectFocus:hover {
	border-color: var(--outline-focus);
}