.textareaWrapper {
	width: 100%;
	padding: 20px 13px 4px 20px;

	&>textarea {
		height: auto;
		width: 100%;
		border: var(--border-text-area);
		border-radius: 10px;
		padding: 8px 8px;
		resize: none;

		&:focus {
			outline: none;
		}
	}

}

.errorText {
	display: block;
	height: 1rem;
}

.error {
	&>input,
	textarea {
		border: 1px solid #ee294e;
		background-color: #fde9ed;
	}

	&>.errorText {
		display: block;
		height: 1rem;
		position: relative;
		padding-left: 10px;
		color: #ee294e;
		font-size: 12px;
		line-height: 1rem;
	}
}