.user {
	padding: 8px 12px;
	min-height: 96px;
	display: flex;
	align-items: center;
}

.avatar {
	display: flex;
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 50%;
	border: 2px solid white;
	background-color: rgb(242, 242, 242);
	flex-shrink: 0;
	margin-right: 12px;

	& img {
		width: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.content {
	display: grid;
	grid-template-areas:
		"name btn"
		"location btn"
		"status btn";
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
	max-width: 100%;
	min-width: 0;
}

.name {
	grid-area: name;
	color: #000;
	font-size: 13px;
	font-weight: 500;
	line-height: 16px;
	transition: opacity 0.5s ease-in-out;

	&:hover {
		text-decoration: underline;
	}

	&:active {
		opacity: 0.7;
	}
}

.location {
	grid-area: location;
	color: #818c99;
}

.status {
	grid-area: status;
	padding-right: 20px;
	font-weight: 500;
}

.btn {
	grid-area: btn;

	& button{

		&:disabled {
			opacity: 30%;
		}
	}
}


