.contact {
	display: grid;
	grid-template-columns: 130px auto;
	gap: 12px;
	margin-bottom: 8px;
}

.item {
	color: var(--text-color-subhead-gray);
}

.job {
	display: grid;
	grid-template-columns: 130px auto;
	gap: 12px;
	margin-bottom: 8px;
}

.infoSection {
	padding: 0 0 16px 0;

	&:last-child {
		padding: 0;
	}
}

.infoHeadline {
	padding-bottom: 8px;
	color: rgb(0, 0, 0);
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
}

.descriptions {
	color: rgb(0, 0, 0);
}
