.container {
	display: flex;
	height: 100%;
	min-height: 150px;
	padding: 20px;
	background-color: var(--main-block-background-color);
	border-radius: var(--content-border-radius);
	border-bottom: none;
	box-shadow: var(--shadow-effect);
}

.avatar {
	position: relative;
	height: 100%;
	width: 150px;
	flex-shrink: 0;
	cursor: pointer;

}

.imgWrapper {
	position: absolute;
	top: -100px;
	left: 0;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: var(--shadow-effect);
	overflow: hidden;
	border: 5px solid white;
	background-color: rgb(242, 242, 242);

	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.info {
	width: 100%;
	margin-left: 16px;
}

.statusField {
	position: relative;
	width: 100%;
	min-height: 43px;
}

.statusFildActive {
	position: absolute;
	width: 100%;
	left: -8px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 8px;
	color: var(--text-color-subhead-gray);
	padding: 8px;
	background-color: #fff;
	border: var(--border-text-area);


	& input {
		width: 100%;
		border: var(--border-text-area);
		border-radius: 5px;
		padding: 5px;
	}
}

.statusFildStatic {
	display: flex;
	height: 100%;
	align-items: center;
	color: var(--text-color-subhead-gray);
	padding: 8px 0;
}

.menuBlockWrapper {
	position: absolute;
	width: max-content;
	top: 55px;
	left: 0;
	z-index: 1;
	transition: display .3s ease-out;
	pointer-events: none;
	opacity: 0;
	transition: opacity .3s ease-in-out;
}

.optionsActive {
	opacity: 1;
	pointer-events: all;
}