.main {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	text-align: center;

}

.errorNumber {
	color: #000;
	font-size: 24px;
	letter-spacing: 0.2px;
	margin: 0;
}

.handle {
	background: #ffe500;
	width: 14px;
	height: 30px;
	top: 0;
	left: 0;
	position: absolute;
}