.statusField {
	position: relative;
	width: 100%;
	min-height: 43px;
}

.statusFildActive {
	position: absolute;
	width: 100%;
	left: -8px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 8px;
	color: var(--color-neutral-800);
	padding: 8px;
	background-color: #fff;
	border: var(--border-text-area);
	border-radius: 8px;
	transition: opacity .3s ease-in-out;

}

.statusForm {
	width: 100%;
	display: grid;
	grid-template:
	"field field"
	"fieldError fieldError" / minmax(auto, 134px) auto;

}

.statusFild {
	width: 100%;
	/* border: var(--border-text-area); */
	/* border-radius: 5px; */
	border: none;
	border-bottom: var(--border-text-area);
	padding: 5px;
	resize: none;
	overflow: hidden;
}

.btnWrapper {
	max-width: fit-content;
}

.disable {
	pointer-events: none;
	opacity: 0;
}

.statusFildStatic {
	display: flex;
	min-height: 29px;
	align-items: center;
	color: var(--color-neutral-800);
	padding: 16px 0;
}