.container {
	border-radius: var(--content-border-radius);
	overflow: hidden;
	box-shadow: var(--shadow-effect);
	background-color: var(--color-neutral-100);
	height: clamp(637px, 50dvh, calc(100dvh - 100px));
}

.content {
	max-width: 272px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 24px;
	padding: 24px 24px;
	margin: 0 auto;
}

.logo {
	text-align: center;

	& img {
		width: 100px;
		height: 100px;
	}
}