.App {
	text-align: center;
}

.appWrapper {
	position: relative;
	margin: 0 auto;
	padding: 0 30px;
	display: grid;
	width: var(--width-main);
	grid-template:
		"header header" 60px
		"nav content" auto
		/ 164px auto;
	grid-gap: 16px;
}

.appWrapperContent {
	position: relative;
	grid-area: content;
	min-width: 480px;
}

p {
	margin: 0;
}