* {
	box-sizing: border-box;
	word-break: break-word;
}

:root {
	--backgraund-color-hover-gray: rgba(0, 16, 61, 0.04);
	--main-color-blue: rgb(25, 154, 195);
	--content-border-radius: 20px;
	--text-color-subhead-gray: #626d7a;
	--text-color-secondary-gray: #818c99;
	--text-color-link-blue: rgb(11, 73, 105);
	--shadow-effect: 0px 0px 5px rgb(220, 225, 230);
	--border-text-area: 1px solid rgb(220, 225, 230);
	--main-block-background-color: rgba(255, 255, 255);
	--user-cart-background-color: rgba(25, 155, 195, 0.1);
	--body-background-color: #edeef0;
	--line-background-color: rgb(220, 225, 230);
}

html,
body {
	font-family: 'Roboto Mono', monospace;
}

html {
	margin-right: calc(-1 * (100vw - 100%));
}

body {
	background-color: #edeef0;
	font-size: 13px;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

img {
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

button {
	transition: opacity 0.3s;
	opacity: 1;
	cursor: pointer;
	min-width: 118px;
	min-height: 34px;
	background-color: var(--main-color-blue);
	border: none;
	color: #FFF;
	border-radius: 10px;
	font-size: 13px;

	&:focus {
		outline: none;
	}

	&:active {
		opacity: 0.9;
	}

	&:hover {
		opacity: 0.7;
	}
}

input,
textarea {
	&:focus {
		outline: none;
	}

	&:active {
		outline: none;
	}
}

.App {
	text-align: center;
}

.app-wrapper {
	position: relative;
	margin: 0 auto;
	padding: 0 30px;
	display: grid;
	width: 1136px;
	grid-template:
		"header header" 60px
		"nav content" auto
		/ 164px auto;
	grid-gap: 16px;
}

.appWrapperContent {
	position: relative;
	grid-area: content;
}

p {
	margin: 0;
}