.dialogs {
	display: grid;
	grid-template-columns: 229px auto;
	background-color: rgba(255, 255, 255);
	border-radius: var(--content-border-radius);
	border: var(--border-text-area);
	box-shadow: 0 0 0 rgb(220, 225, 230);
	overflow: hidden;
}

.dialogsItems {
	border-right: var(--border-text-area);
}

.messages {
	min-height: calc(100dvh - 117px);
	height: calc(100dvh - 100px);
	height: clamp(calc(100dvh - 117px), );
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;

	&>.content {
		max-height: 100%;
		overflow-y: auto;
	}
}

.messagesElements {
	margin-bottom: 34px;
}

.chatInputForm {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: var(--border-text-area);
	padding: 12px 12px 0 52px;
	background-color: #f9f9f9;

	&>textarea {
		display: flex;
		margin: 0 56px 12px 7px;
		width: 416px;
		height: clamp(36px, 2rem, 201px);
		border: var(--border-text-area);
		border-radius: 10px;
		padding: 8px 74px 9px 13px;
		resize: none;
		/* overflow: hidden; */
		line-height: 17px;
	}
}

.btnWrapper {
	margin-bottom: 9px;

	&>button:disabled {
		opacity: 0.6;
	}
}